#navbar {
    position: fixed;
    z-index: 1;
    overflow: hidden;
    top: 0;
    left: 0;
    width: 250px;
    height: 100%;
    padding-top: 25px;
    background: black;
}

#main-doc {
    font-size: 20px;
    margin-left: 300px;
}

#navbar a {
    display: block;
    padding: 8px 10px 8px 20px;
    font-size: 20px;
    color: white;
    text-decoration: none;
}

#navbar a:hover {
    color: yellow;
    cursor: pointer;
}

li {
    list-style-type: none;
}

@media only screen and (max-width: 600px) {
    #navbar {
        background-color: yellow;
    }

    #navbar a {
        color: black;
    }

    #navbar a:hover {
        color: blue;
    }
}
